<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="pluginConfiguration" type="Nerdle.AutoConfig.Section, Nerdle.AutoConfig" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="PortNumber" value="514" />
    <add key="LogLevel" value="7" />
    <add key="LogSource" value="Virvent Syslog Server" />
    <add key="LogName" value="Virvent Syslog Server Entry" />
    <add key="IPAddressToListen" value="127.0.0.1" />
    <add key="Protocol" value="TCP,UDP" />
    <add key="PluginDirectory" value="\plugins"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="SysLogConnString" connectionString="Data Source=.\SQL2016;Initial Catalog=SysLogDB;Persist Security Info=True;MultipleActiveResultSets=True;User ID=syslog;Password=syslog;Max Pool Size=1024;Pooling=true;Enlist=true;Packet Size=20000;Connect Timeout=3600" providerName="System.Data.SqlClient" />
  </connectionStrings>  
  <pluginConfiguration>
    <pluginSettings>
      <pluginSetting name="ProcessCheckerPlugin" hours="1" minutes="0" seconds="0" afterStartup="1" onMessageEvent="0">
        <settings>
          <setting key="snort" value="1" />
        </settings>
      </pluginSetting>
      <pluginSetting name="SnortPlugin" hours="24" minutes="0" seconds="0" afterStartup="0" onMessageEvent="0">
        <settings>
          <setting key="SnortRemoteServer" value="https://www.snort.org/rules/snortrules-snapshot-"/>
          <setting key="SnortVersion" value="29111"/>
          <setting key="SnortPath" value="C:\Snort"/>
          <setting key="DownloadPath" value="C:\snort\cr-download" />
          <setting key="UnpackPath" value="C:\Snort\cr-unpack"/>
          <setting key="SnortSubscriptionLevel" value="Registered"/>
          <setting key="OinkCode" value="b5010f430dbf76034dd23314aba7747a0e3be05c"/>
          <setting key="ServiceCount" value="2" />
          <setting key="snort1" value="snorteth1" />
          <setting key="snort2" value="snorteth2" />
          <setting key="snort3" value="" />
        </settings>
      </pluginSetting>
      <pluginSetting name="SOC2GitHub" hours="24" minutes="0" seconds="0" afterStartup="0" onMessageEvent="0">
        <settings>
          <setting key="ProcedureTemplateDirectory" value="c:\snort\virventsyslogserver\plugins\soc2" />                     
          <setting key="GitKey" value="git-oauth-key-here" />
          <setting key="Repo" value="psisoc2" />
          <setting key="User" value="chris-at-virvent" />
        </settings>
      </pluginSetting>
      <pluginSetting name="WindowsFirewallAutoBan" hours="0" minutes="0" seconds="0" afterStartup="0" onMessageEvent="1">
        <settings>
          <setting key="Threshold" value="3" />
          <setting key="Count" value="10" />
          <setting key="Hours" value="0" />
          <setting key="Minutes" value="5" />
          <setting key="Seconds" value="0" />       
        </settings>  
      </pluginSetting>
    </pluginSettings>
  </pluginConfiguration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>