<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PortNumber" value="514" />
    <add key="LogLevel" value="7" />
    <add key="LogSource" value="Virvent Syslog Server" />
    <add key="LogName" value="Virvent Syslog Server Entry" />
    <add key="IPAddressToListen" value="127.0.0.1" />
    <add key="Protocol" value="TCP,UDP" />
    <add key="ProcessToCheck" value="snort"/>
    <add key="ProcessCheckInterval" value="60" />
    <add key="ProcessCheckFrequency" value="60" />
    


    <add key="EventLog" value="No" />
    <add key="SQLLog" value="Yes" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="SysLogConnString" connectionString="Data Source=.\SQL2016;Initial Catalog=SysLogDB;Persist Security Info=True;MultipleActiveResultSets=True;User ID=syslog;Password=syslog;Max Pool Size=1024;Pooling=true;Enlist=true;Packet Size=20000;Connect Timeout=3600" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>